langchain>=0.1.17
langchain-community>=0.0.34
langchain-openai>=0.1.6
langchain-text-splitters>=0.0.1
langgraph>=0.0.40

openai>=1.30.0
faiss-cpu>=1.7.4
pypdf>=4.0.0
python-dotenv>=1.0.1

streamlit>=1.33.0
